.createOrder,
.createOrderButton {
  margin: 10px;
  padding: 5px 10px;
  border: 1px solid #d0d7de;
  background-color: #ffffff;
  font-size: 2rem;

  &::placeholder {
    opacity: 0.3;
  }
}

.createOrderButton {
  background-color: #40c463;
  box-shadow: 0px 5px 10px 5px rgba(34, 60, 80, 0.2);
  transition: all 0.1s;

  &:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
  }
}

.scoreboard {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  gap: 10px;
}

.leftScoreboard,
.rightScoreboard {
  width: 50%;
  min-height: 100vh;
  padding: 10px;
  gap: 10px;
  background-color: #f6f8fa;
  border: 1px solid #d0d7de;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.orderCook {
  min-width: 100px;
  height: 100px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #d0d7de;
  font-size: 52px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    margin: 0;
    color: #d20003;
  }
}

.inputOrderNumber {
  border: 1px solid #d0d7de;
  background-color: #f6f8fa;
  border-radius: 0;
}